<div class="center jumbotron">
  <h1>Welcome to NiuPiao!</h1>

  <h2>
    A premier ticketing ticketing platform across web and mobile platforms.
    <br>
    Designed to be easy, secure, and scalper-proof.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>