<h1>Signup</h1>


<div class="notice">
  <p style="color:red">
    <%= flash[:notice] if flash[:notice] %>
  </p>
</div>

<%= form_for :session, url: signup_path, method: :post do |f| %>
  <%= f.label "Are you a manager?" %>
  <%= link_to_add_ticket_status "Add Ticket Status", f %>
<% end %>
