<p class="ticket_status">
    <%= f.text_field :name, placeholder: 'Name of ticket type' %>
    <%= f.text_field :max_purchasable, placeholder: 'Max Purchasable' %>
    <%= f.text_field :price, placeholder: 'Price' %>
    <%= link_to_remove_fields "Remove", f %>
</p>