<h1>Events</h1>

<div class="gallery">
  <ul>
    <% @events.each do |event| %>
      <% i = ['tiesto.jpg', 'daft_punk.jpg'].sample %>  
      <li>
	<a href=<%= event_url(event) %> title="Locomotive" target="_blank">
          <img src=<%= "/assets/#{i}" %> alt="" />
          <div class="info"><h1 class="title"><%= event.organizer %></h1></div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
